{
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "webix": true,
        "$$": true
    },
    "extends": "./node_modules/eslint-xbsoftware/1__double_quotes_and_tabs/.eslintrc",
    "rules": {
        "no-extra-parens": "warn",
        "valid-jsdoc": "warn"
    },
	plugins:[
		"import"
	]
}
